.contactpage-contact {
  padding: 10rem 0;

  @media only screen and (min-width: $media-query-laptop) {
    padding: 25rem 0;
  }

  &-row {
    display: flex;
    column-gap: 15rem;

    &:nth-child(1) {
      align-items: flex-end;
    }

    &:nth-child(2) {
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: 5rem;

      @media only screen and (min-width: $media-query-laptop) {
        margin-bottom: 15rem;
      }
    }

    img {
      display: none;
      width: 50%;

      @media only screen and (min-width: $media-query-laptop) {
        display: block;
      }
    }

    h5 {
      @include heading-five;
    }

    a {
      color: $color-green;
    }

    button {
      @include heading-five;
      margin-top: 3rem;
      padding: 1rem 2rem;
      border: 0.1rem solid $color-black;
      background-color: initial;
      cursor: pointer;
      transition: $hover-transition;

      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }

  .row-1 {
    position: relative;

    .orange-img {
        display: none;
        position: absolute;
        top: -20%;
        right: 48%;
        transform: translateX(48%);
        z-index: -1;

        @media only screen and (min-width: $media-query-laptop) {
            display: block;
            max-width: 45rem;
            max-height: 40rem;
        }
    }

    .first-img {
        max-width: 79rem;
        max-height: 59rem;
    }

    h5 {
      @media only screen and (min-width: $media-query-laptop) {
        margin-bottom: 8rem;
      }
    }
  }

  .row-2 {
      .second-img {
          max-width: 79rem;
          max-height: 99rem;
      }
  }
}
