.blogpage-blogs {
  padding-top: 13rem;
  padding-bottom: 8rem;

  .layout-container {
    @media only screen and (min-width: $media-query-tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 6rem;
    }
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;

    @media only screen and (min-width: $media-query-tablet) {
      flex: 40%;
    }

    &-image {
      margin-bottom: 2rem;
      width: 100%;
      height: 100%;
      position: relative;

      @media only screen and (min-width: $media-query-tablet) {
        margin-bottom: 5rem;
      }

      img {
        width: 100%;
        max-width: 80rem;
        height: 100%;
        max-height: 79rem;
      }

      .card-tag {
        @include heading-six;
        color: $color-white;
        background-color: $color-dark-green;
        padding: 0.5rem 3rem;
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;

        @media only screen and (min-width: $media-query-tablet) {
          padding: 1rem 5rem;
        }
      }
    }

    &-author {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      @media only screen and (min-width: $media-query-tablet) {
        margin-bottom: 5rem;
      }

      @media only screen and (min-width: $media-query-laptop) {
          padding: 0 5rem;
      }

      img {
        width: 6rem;
        height: 6rem;
        margin-right: 1.4rem;
      }

      p {
        @include label;
        color: $color-dark-green;

        &:not(:last-child) {
          margin-right: 1.4rem;
        }
      }

      span {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background-color: $color-dark-green;
        border-radius: 50%;
        margin-right: 1.4rem;
      }
    }

    &-text {
      @media only screen and (min-width: $media-query-laptop) {
          padding: 0 5rem;
      }

      h3 {
        @include heading-four;
        border-bottom: 0.3rem dotted $color-black;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
      }

      p {
        @include excerpt;
        margin-bottom: 4rem;
      }

      a {
        @include body-text;
        color: $color-black;
        transition: $hover-transition;

        &:hover {
          color: $color-green;

          i {
            color: $color-green;
          }
        }

        i {
          vertical-align: middle;
        }
      }
    }
  }
}
