.aboutpage-header {
  background-image: url(../../../images/aboutpage-header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  padding-bottom: 20rem;

  @media only screen and (min-width: $media-query-laptop-large) {
    height: 100vh;
  }

  header {
    color: $color-white;
    display: flex;
    justify-content: flex-end;

    .aboutpage-header-title {
      margin-top: 5rem;

      @media only screen and (min-width: $media-query-laptop-large) {
        margin-top: 20rem;
        margin-right: 11rem;
      }

      h1 {
        @include heading-one;
        margin-bottom: 2rem;
      }

      h5 {
        @include heading-five;
        line-height: 2rem;

        @media only screen and (min-width: $media-query-tablet) {
          line-height: 4rem;
        }

        pre {
          white-space: pre-wrap;
        }
      }
    }
  }
}
