@import './scss/variables';
@import './scss/mixins';

@import './scss/components/navbar';
@import './scss/components/menu';
@import './scss/components/reservationForm';
@import './scss/components/footer';
@import './scss/components/scrollTopButton';

@import './scss/pages/homepage/homepageHeader';
@import './scss/pages/homepage/homepageMenu';
@import './scss/pages/homepage/homepageCook';
@import './scss/pages/homepage/homepageFeatures';
@import './scss/pages/homepage/homepageBlog';
@import './scss/pages/homepage/homepageCategories';
@import './scss/pages/homepage/homepageQuotes';

@import './scss/pages/menupage/menupageHeader';
@import './scss/pages/menupage/menupageMenu';

@import './scss/pages/contactpage/contactpageHeader';
@import './scss/pages/contactpage/contactpageContact';

@import './scss/pages/aboutpage/aboutpageHeader';
@import './scss/pages/aboutpage/aboutpageStory';
@import './scss/pages/aboutpage/aboutpageVideo';
@import './scss/pages/aboutpage/aboutpageProcess';

@import './scss/pages/blogpage/blogpageHeader';
@import './scss/pages/blogpage/blogpageBlogs';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.layout-container {
  width: calc(100% - 5%);
  margin: 0 auto;

  @media only screen and (min-width: $media-query-desktop) {
    width: 100%;
    max-width: 1644px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}